@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style:none;
}
body{
    background: #EEE;
}
nav{
    padding: 5px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#1282E3;
    position: sticky;
    top: 0;
    z-index:100;
}
.logo{
    width: 160px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.icons{
    margin-left: 40px;
    margin-top: 5px;
}
.icon{
    width:25px;
    margin-left: 30px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 350px;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
    flex-basis:90%;
}
.search-bar input{
    border: none;
    outline: none;
    padding: 5px 0;
    width: 90%;
}
.search-icon{
    width: 20px;
    display: block;
    margin: 0 4px;
}
.profile{
    flex-basis: 9%;
    height:100%;
    padding-top: 7px;
    position:relative
}
.profile::after{
    content:"";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:#0EEC19;
    top: 10px;
    right: 0;
    position: absolute;
    border: 1px solid white;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* Container */
.container{
    display: flex;
    justify-content: space-between;
    padding:0px 7%;
    overflow:auto;
    height:85vh;
}
.left-sidebar{
    flex-basis: 28%;
    position:sticky;
    top:0;
    align-self: flex-start;
    padding-left: 5px;
}
.right-sidebar{
    flex-basis: 28%;
    position:sticky;
    top:0;
    align-self: flex-start;
    padding-left: 10px;
    padding-right:10px;
    background: #fff;
    padding-top: 20px;
}
.part-1{
    height:46%;
    padding-top: 9px;
}
.sub-part-1 img{
    width: 30px;
    display: block;
}
.sub-part-1 a{
    margin-left: 15px;
    color: grey;
    font-size: 14px;
}
.sub-part-1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.see-more{
    margin-top: 20px;
    display: block;
    color:#1282E3;
}
.one{
    display: flex;
    align-items: center;
}
.one img{
    width: 30px;
}
.one a{
    margin-left: 15px;
    color: grey;
    font-size: 14px;
}
.part-2{
    padding-top:30px;
    position: relative;
    margin-top: 20px;
}
.part-2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: grey;
    opacity: 0.3;
}
.part-2 h3{
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
/* container */
.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-3{
    padding-top: 20px;
}
.texto p{
    font-size:15px;
    color: grey;
}
.texto a{
    color:#1282E3;
    font-size: 14px;
}
.event{
    display: flex;
    margin-top: 10px;
}
.link-right-side-bar{
    display:inline-block;
    font-size: 10px;
    color:#1282E3;
}
.left-event{
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 5px 7px;
    position: relative;
    background: #fff;
}
.right-event{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.right-event p{
    font-size: 13px;
}
.right-event small{
    font-size: 11px;
    color: grey;
}
.left-event small{
    color: white;
    background:#1282E3;
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
}
.Advertisement{
    display: flex;
    justify-content: space-between;
    padding-top:13px;
}
.Advertisement p{
    color: grey;
    font-size:13px;
}
.adver-image{
    padding-top: 5px;
    width: 100%;
    border-radius: 10px;
}
.image{
    width: 10%;
    position: relative;
}
.image img{
    border-radius: 50%;
    width: 100%;
}
.image::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0EEC19;
    bottom: 5px;
    right: 0;
    position: absolute;
    border: 1px solid white;
}
.contact{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.contact small{
    margin-left: 10px;
    font-size: 12px;
    color: grey;
}
.conversation{
    padding-bottom:115px;
}
.main-container{
    flex-basis:43%;
    height: 100vh;
    padding: 10px 5px;
}
.story{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.story img{
    width: 100%;
    border-radius: 10px;
}
.fly{

    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
}
.flow{
    position: relative;
}
.fly img{
    width:40%;
}
.fly p{
    font-size: 14px;   
}
.stories{
    position: relative;
}
.stories p{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.img-story{
    width: 30px;
    height:30px;
    border-radius: 50%;
    top: 5%;
    left: 7%;
    position: absolute;
    background: blue;
}
.img-story img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 3px;
}
.stories p{
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 5px;
}
.status{
    background: #fff;
    display: flex;
    padding-top: 10px;
}
.status h1{
    font-size: 15px;
    font-weight: 400;
}
.input{
    margin-left: 10px;
    width: 100%;
}
.status p{
    font-size: 9px;
}
.input input{
    width: 100%;
    padding-bottom: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
}
.video-photo-Feling img{
    width: 20px;
    height: 20px;
}
.video-photo-Feling {
    margin-top: 10px;
    display: flex;
    border-top: 1px solid #EEE;
    padding-top: 10px;
}
.video-photo-Feling img{
    margin-right: 10px;
}
.video-photo-Feling a{
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
}
.input h1{
    font-size: 15px;
    font-weight: 400;
}
.block{
    display:flex;
}
.content{
    margin-top: 20px;
    background: #fff;
    padding: 10px;
}
.input p{
    font-size: 9px;
    color: grey;
}
.line{
    width:10px;
    height: 2px;
    margin-top: 3px;
    margin-right: 10px;
    background: black;
    display: block;
}
.pipi{
    font-size: 12px;
    color: grey;
    margin-top: 10px;
}
.imagino{
    width: 100%;
    margin-top: 10px;
}